@using WorkFlow_SIG10._1.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<a href="/proyectos" class="widget-link">
    <div class="widget-header">
        <h5>Proyectos</h5>
        <span class="oi oi-project widget-icon"></span>
    </div>
    <div class="widget-body">
        <div class="widget-value">@count</div>
        <div class="widget-description">proyectos registrados</div>
    </div>
</a>

@code {
    private int count;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var dbContext = await DbContextFactory.CreateDbContextAsync();
            count = await dbContext.Proyectos.CountAsync();
        }
        catch (Exception)
        {
            // Log or handle the exception
            count = 0;
        }
    }
}