@page "/proyectos/ampliaciones"

<PageTitle>Ampliaciones de Proyecto</PageTitle>

<div class="container-fluid">
    <h1 class="mt-4">Gestión de Ampliaciones de Proyecto</h1>
    <p class="lead">Esta sección se encuentra en construcción.</p>
</div>
