@page "/control-calidad/crear"
@using WorkFlow_SIG10._1.Data
@using WorkFlow_SIG10._1.Models
@using WorkFlow_SIG10._1.Shared
@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@using Models = WorkFlow_SIG10._1.Models;

<h3>Crear Registro de Control de Calidad</h3>

<ControlCalidadEdit OnValidSubmit="@HandleValidSubmit" />

@code {
    private async Task HandleValidSubmit(Models.ControlCalidad controlCalidad)
    {
        DbContext.ControlesCalidad.Add(controlCalidad);
        await DbContext.SaveChangesAsync();
        NavigationManager.NavigateTo("/control-calidad");
    }
}
