@page "/"
@using WorkFlow_SIG10._1.Shared.Widgets

<PageTitle>Inicio</PageTitle>

<h1>Bienvenido a WorkFlow SIG10.1</h1>

<p>Esta es la página principal de tu aplicación de gestión.</p>

<div class="row">
    <div class="col-md-4">
        <ProyectosWidget />
    </div>
    <div class="col-md-4">
        <ContratosWidget />
    </div>
    <div class="col-md-4">
        <InventarioWidget />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <IncidenciasSSMAWidget />
    </div>
    <div class="col-md-4">
        <ControlCalidadWidget />
    </div>
    <div class="col-md-4">
        <OficinaTecnicaWidget />
    </div>
</div>