@page "/proyectos/penalizaciones"

<PageTitle>Penalizaciones</PageTitle>

<div class="container-fluid">
    <h1 class="mt-4">Gestión de Penalizaciones</h1>
    <p class="lead">Esta sección se encuentra en construcción.</p>
</div>
