@page "/logout"
@using Microsoft.AspNetCore.Identity
@using WorkFlow_SIG10._1.Models
@inject NavigationManager NavigationManager

<h3>Cerrando Sesión...</h3>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/logout", forceLoad: true);
    }
}