@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="app-container @(isExpanded ? "expanded" : "")">
    <div class="nav-wrapper" @onmouseenter="HandleMouseEnter" @onmouseleave="HandleMouseLeave">
        <NavMenu IsPinned="isNavPinned" OnToggle="HandlePinToggle" />
    </div>

    <main class="app-main">
        <article class="app-content px-4">
            @Body
        </article>
    </main>
    <button @onclick="ScrollToTop" class="scroll-to-top-btn" id="scrollToTopBtn" title="Ir arriba">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>

@code {
    private bool isNavPinned = false;
    private bool isMouseOver = false;

    private bool isExpanded => isNavPinned || isMouseOver;

    private void HandlePinToggle(bool newPinnedState)
    {
        isNavPinned = newPinnedState;
    }

    private void HandleMouseEnter()
    {
        isMouseOver = true;
    }

    private void HandleMouseLeave()
    {
        isMouseOver = false;
    }

    private async Task ScrollToTop()
    {
        await JSRuntime.InvokeVoidAsync("scrollToTop");
    }
}